<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Activity Planner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9BB600711CF4EFC2003B6D16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BB600871CF4EFC2003B6D16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BB600921CF4EFC2003B6D16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
